######
# Fichiers produits par les éditeurs
.idea/
.vscode/
*.swap

######
# Fichiers produit par Maven
target/
doc/javadoc/

######
# Liste des dépendance de Mave
dependency-reduced-pom.xml

######
# Autres fichiers
*.tmp
*.swp
*.vim