######
# Fichiers produits par les éditeurs
.idea/
.vscode/
*.swap

######
# Fichiers produit par Maven
target/
doc/javadoc/

######
# images en double de plantUML
doc/plantuml/**/*.png
doc/plantuml/**/*.svg

######
# Liste des dépendance de Mave
dependency-reduced-pom.xml

######
# Autres fichiers
*.tmp
*.swp
*.vim